
.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 100px;
  margin-top: 25px;
}
.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
   max-height: 100vh; /* Максимальная высота окна браузера */
  overflow-y: auto; /* Добавить вертикальную прокрутку, если содержимое превышает размер контейнера */
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  max-height: 100%; /* Разрешить прокрутку, если содержимое превышает размер контейнера */
  overflow-y: auto; /* Добавить вертикальную прокрутку, если содержимое превышает размер контейнера */
}
.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
}

